body{
  margin: 3px 8px 3px 10px !important;
  overflow-x: hidden;
}

/* header style starts here */
.header{
  display: flex;
  color: gray;
}
.header a {
  color: gray;
  text-decoration: none;
}
.new{
  padding:1px 7px 3px;
  background-color: grey;
  border-radius: 13px;
}
li .new{
  color: white !important;
  font-size: 13px;
}
.icon{
  font-size: 20px;
}
.icon1{
  font-weight: 200;
  font-size: 25px;
  margin-top: -8px;
}
.list{
  margin-left: auto;
  font-weight: bold;
  float: right;
  margin-top: 10px;
}
.list ul li{
  margin-left: 20px;
}
.list ul{
  display: flex;
}
li {
  list-style-type: none;
}
.logout a{
  color: red;
}
.drop{
  margin-top:-8px;
}
.drop img{
  width:30px;
}
.btn-success{
  color: gray !important;
  background-color: white !important;
  border-color: white !important;
}
.btn-success:focus{
  box-shadow: none !important;
}

/* sidebar styles */
.sidebar{
  height: 100vh;
  box-shadow: 1px 1px 2px lightgray;
  font-weight: 600;
  color: grey;
}
.sidebar ul li{
  margin-left: -30px;
  line-height: 35px;
}
.icons{
  color: grey;
  font-size:18px;
  margin-right: 8px;
}
.first-li{
  color: rgb(59, 92, 236);
}
.first-li .icons{
  color: rgb(59, 92, 236);
}

/* body styles */
.dropdown-row{
  margin-left: -10px;
  padding-top: 40px;
  display: flex !important;
}
.d-down{
  margin-right: 15px;
}

.main-body{
  margin-left: -11px;
  background-color: rgb(242, 245, 247);
}
.main-content{
  padding:10px;
  margin-left: 11px;
}
.destination{
  margin-top:15px;
}
.images{
  margin: 20px 0px;
}
.fig-img{
  height:280px !important;
  border-radius:7px;
  width: 260px;
}

.text-part{
  color: white;
  font-weight: 400;
  padding:15px;
  margin-top: -150px;
}
.text-part h6{
  font-weight: 700;
}

.common-btn{
  color:white;
  border: 1px solid white;
  padding:2px 10px 5px;
  font-size:10px;
  background-color:transparent;
  border-radius:18px;
}
.top-btn{
  margin-top: -230px;
}
.top-btn{
  border:none;
}


/* //for responsiveness */

@media only screen and (max-width: 1315px) {
 
}

@media only screen and (max-width: 767px) {
  .sidebar{
    height: 100%;
    margin-bottom: 30px;
  }
}